version: "3"

services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - ./testdata/postgres:/var/lib/postgresql/data

  kafka:
    image: confluentinc/confluent-local:7.4.3
    ports:
      - "9092:9092"
    volumes:
      - ./testdata/kafka:/var/lib/kafka/data
